## Python and Pandas

What is Pandas ? 

Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license. The name is derived from the term "panel data", an econometrics term for multidimensional, structured data sets.
[https://en.wikipedia.org/wiki/Pandas_(software)]

### Lets Start

First step is to import pandas library

In [2]:
import pandas as pd

Now we have tool to manipulate data but how are we going to get our data. This course has provded you with few datafiles already in .csv format so we need some library to read those csv file, something we have learned in previous course. But pandas have its own csv reader so we will use that.

In [132]:
df = pd.read_csv("C:/Users/ashis/OPS/Patient_discharge/2004/post_discharge_events_HRR_CHF_2004.csv",delimiter=None, encoding="utf-8", thousands=',')

now that we have pandas we can read any csv file and get a dataframe out of that file, lets see what is in the loaded dataframe now.

head() is a fucntion that  lets us vew top few lines of the dataframe

In [133]:
df.head(5)

,HRR ID,HRR name,State,Patients,Perc_Readmitted_30d,Perc_PrimaryCare_14d,Perc_Ambulatory_14d,Perc_Emergency_30d
0,1,Birmingham,AL,3040,20.6,44.9,59.5,21.4
1,2,Dothan,AL,718,21.2,49.2,64.0,21.6
2,5,Huntsville,AL,801,19.8,47.3,62.7,21.5
3,6,Mobile,AL,1122,23.4,37.1,57.6,23.1
4,7,Montgomery,AL,762,21.2,51.4,65.6,20.1

You might wonder what is a dataframe. Consider it as a table that you can manipulate according to your needs and requiremnts. More on DataFrame can be found [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

now how to access one column ? Let's try and get the column with just HRR names.

In [38]:
df['HRR name']

0                      Birmingham
1                          Dothan
2                      Huntsville
3                          Mobile
4                      Montgomery
5                      Tuscaloosa
6                       Anchorage
7                            Mesa
8                         Phoenix
9                        Sun City
10                         Tucson
11                     Fort Smith
12                      Jonesboro
13                    Little Rock
14                     Springdale
15                      Texarkana
16                  Orange County
17                    Bakersfield
18                          Chico
19            Contra Costa County
20                         Fresno
21                    Los Angeles
22                        Modesto
23                           Napa
24                 Alameda County
25     Palm Springs/Rancho Mirage
26                        Redding
27                     Sacramento
28                        Salinas
29                 San Bernardino
                  ...
277                         Provo
278                Salt Lake City
279                    Burlington
280                     Arlington
281               Charlottesville
282                     Lynchburg
283                  Newport News
284                       Norfolk
285                      Richmond
286                       Roanoke
287                    Winchester
288                       Everett
289                       Olympia
290                       Seattle
291                       Spokane
292                        Tacoma
293                        Yakima
294                    Charleston
295                    Huntington
296                    Morgantown
297                      Appleton
298                     Green Bay
299                     La Crosse
300                       Madison
301                    Marshfield
302                     Milwaukee
303                        Neenah
304                        Wausau
305                        Casper
306                 United States
Name: HRR name, dtype: object

now that we have a coloum, what about one row ?

In [24]:
df.iloc[1]

HRR ID                        2
HRR name                 Dothan
State                        AL
Patients                    718
Perc_Readmitted_30d        21.2
Perc_PrimaryCare_14d       49.2
Perc_Ambulatory_14d          64
Perc_Emergency_30d         21.6
Name: 1, dtype: object

Note that the output of df.iloc[`i`] and df[`<Coloum name>`] does not looks like a dataframe and that is because they are not. The output of these functions are series more on that can be found [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html). But you can think of series as a List in Python.

If you get confused about what kind of object a variable or function represents we can check its type as below

In [39]:
type(df['Patients '])

pandas.core.series.Series

Some of the functions that can be helpful in understanding what our data is :

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 8 columns):
HRR ID                   307 non-null int64
HRR name                 307 non-null object
State                    307 non-null object
Patients                 307 non-null object
Perc_Readmitted_30d      301 non-null float64
Perc_PrimaryCare_14d     236 non-null float64
Perc_Ambulatory_14d      276 non-null float64
Perc_Emergency_30d       305 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 19.3+ KB

In [41]:
df['Patients '].describe()

count     307
unique    279
top       651
freq        2
Name: Patients , dtype: object

In [137]:
df['Patients '].unique()

array([  3040,    718,    801,   1122,    762,    329,    243,    502,
         1676,    346,    710,    556,    468,   2518,    456,    534,
         1431,    635,    368,    382,    740,   5276,    602,    229,
          825,    293,    389,   1294,    335,   1015,   1650,    774,
          643,    194,    399,    255,    172,    297,    445,    474,
           99,    460,   1049,    200,    152,    257,    139,    709,
         1826,   1764,   1006,   2428,    471,    808,   2982,   1723,
          811,    854,   1803,    481,   2260,    983,   4408,    563,
          357,   1090,    813,    552,    903,   1067,    272,   4653,
          755,    410,   1052,    430,   1071,    630,    494,    157,
          198,   1565,   3201,    651,   1295,    400,    868,   1684,
         1040,   1022,   1570,    686,    184,   1196,   1101,   1069,
         3464,    156,    758,   1034,    311,    337,    714,   1366,
          164,    375,    233,    360,    264,    486,   1852,    483,
         2078,   2627,    245,    692,    633,   1047,    395,    988,
          501,    615,    561,    892,   1282,    530,   3297,    812,
          622,   5618,    792,    596,   1525,   1044,   3150,    913,
         1165,    957,    851,    280,    322,    292,    581,    994,
         1341,    393,    523,   2502,    541,    261,    637,    298,
          426,   1855,    394,    608,    551,    605,   2856,   4567,
          558,    149,    398,    694,   1434,    890,    452,   4009,
         1626,   1092,   1124,   2093,    485,    820,   2350,    935,
         1648,    648,   4192,   3447,   1074,   1324,   1190,    777,
         2572,   1706,   1253,    334,   1829,    595,   1249,    610,
          196,    160,    934,    940,   2087,   3446,   3729,   1754,
          378,    489,   1483,   1217,    304,   2297,   1486,    109,
          424,   1204,    119,   2019,    470,    797,   1272,   1439,
          289,    928,   4490,   4847,    990,    617,    533,   1200,
          652,    955,    528,    187,   1116,    959,    607,    373,
         1917,   2719,   3129,   1058,    759,    258,    816,   3882,
          902,   1490,    591,   5043,   1048,    593,    434,    216,
         2418,    271,    997,    300,    490,    381,    202,    244,
         1081,    992,    697,    598,   1511,   2053,   1143,    566,
          305,    301,   1606,   1114,    273,   1466,    817,    570,
          684,    363,    543,   3196,    282,    307, 321321], dtype=int64)

In [138]:
df[1:10]

,HRR ID,HRR name,State,Patients,Perc_Readmitted_30d,Perc_PrimaryCare_14d,Perc_Ambulatory_14d,Perc_Emergency_30d
1,2,Dothan,AL,718,21.2,49.2,64.0,21.6
2,5,Huntsville,AL,801,19.8,47.3,62.7,21.5
3,6,Mobile,AL,1122,23.4,37.1,57.6,23.1
4,7,Montgomery,AL,762,21.2,51.4,65.6,20.1
5,9,Tuscaloosa,AL,329,19.5,NaN,60.1,21.5
6,10,Anchorage,AK,243,21.4,NaN,54.3,23.5
7,11,Mesa,AZ,502,23.6,40.5,66.0,25.3
8,12,Phoenix,AZ,1676,20.4,40.2,62.7,21.8
9,14,Sun City,AZ,346,18.4,NaN,63.1,20.6

## More complex operations

#### Row filtering

To create row filters, we use lists of Boolean values that evaluate a condition:

In [139]:
isFlorida = df['State']=='FL'

This returns a list of True/False values for each row in df that evaluate the given condition. To filter using this list:

In [140]:
fl_df = df[isFlorida]

In [141]:
fl_df

,HRR ID,HRR name,State,Patients,Perc_Readmitted_30d,Perc_PrimaryCare_14d,Perc_Ambulatory_14d,Perc_Emergency_30d
52,115,Bradenton,FL,471,23.3,40.5,73.1,23.0
53,116,Clearwater,FL,808,22.0,49.5,66.7,20.0
54,118,Fort Lauderdale,FL,2982,21.6,40.1,71.9,22.5
55,119,Fort Myers,FL,1723,19.8,40.7,66.2,21.3
56,120,Gainesville,FL,811,20.5,52.5,66.4,22.3
57,122,Hudson,FL,854,20.2,42.3,65.0,21.5
58,123,Jacksonville,FL,1803,22.2,44.4,65.2,23.9
59,124,Lakeland,FL,481,22.4,51.3,71.9,22.1
60,127,Miami,FL,2260,23.6,35.4,60.9,23.4
61,129,Ocala,FL,983,20.8,37.9,63.9,24.0
62,130,Orlando,FL,4408,21.0,45.8,69.5,21.8
63,131,Ormond Beach,FL,563,19.1,48.6,65.2,25.2
64,133,Panama City,FL,357,21.8,NaN,68.1,19.8
65,134,Pensacola,FL,1090,21.4,39.9,58.1,26.1
66,137,Sarasota,FL,813,17.3,41.2,69.2,19.1
67,139,St. Petersburg,FL,552,19.0,49.4,70.1,20.2
68,140,Tallahassee,FL,903,18.5,46.4,59.5,19.4
69,141,Tampa,FL,1067,20.9,37.7,57.0,21.8

More concisely :

In [142]:
fl_df = df[df['State'] == 'FL']

#### Column filtering

For column filters, we use the name of the columns that we want to keep, as we did earlier for one column we can pass multiple coloums as a string array:

In [143]:
sample_df = df[['HRR ID','HRR name','State']]

### Exersices :

 1. First we need to get the data loaded for ``` post_discharge_events_hrr_Medical_2012.csv ```.
 2. We need to look at top 10 lines of this data.
 3. Now that we have the data let us look at just two coloumns i.e. ` 'HRR Name' ` and ` 'Patients ' `
 4. Write a function that takes a state code as input and returns a dataframe that represents data just for that satate.
 5. Write a function that takes a percentage and a column name to return a dataframe with values less than that percentage on that column.Example 40 and Perc_PrimaryCare_14d given to a function will return dataframe with all records with values less than ` 40% ` in ` 'Perc_PrimaryCare_14d '`.

### Assignments :

1. Choose a Datafile you want to work with and load it.
2. Write a function that takes a percentage and number to return a dataframe with values less than that percentage in `'Perc_Readmitted_30d '` and `'Patients '` more than the number .Example 40 and 400 given to a function will return dataframe with all records with values less than ` 40% ` in ` 'Perc_Readmitted_30d '` and `'Patients '` more than `400`.
2. Write a function that takes a pattern as input and return the dataframe with all the records that has ` 'HRR Name' ` starting with that pattern.
3. Get the sum of all patients i.e. our data file already have last row that has the sum of all patients but what if we have a data that does not have such row. Your Answer should be same as the last row of our data.